{% extends "layout1.html" %}
{% block title %} <title>About </title> {% endblock title %}

{% block section %}
<section class="con2 " id="con2">
    <div class="container">
        <h1 >About Me</h1>
        <div class="line-10"></div>
        <div class="line-7 my-1"></div>
        <div class="line_3 my-1 mb-4"></div>

        <h3 class="ab">I'm Rohit Borse and <span>Web Developer</span></h3>

        <p class="ab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nulla quia, eum debitis eos perferendis hic
            molestiae eveniet ducimus asperiores impedit rerum in, iste magnam eaque cumque adipisci commodi sunt sit
            atque accusantium? Doloremque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non iusto
            perferendis fugiat aliquid incidunt nesciunt tempore numquam tempora, magnam cupiditate eos porro
            dignissimos soluta harum blanditiis corporis. Consequuntur voluptas temporibus sunt repudiandae?
            Perspiciatis deserunt debitis li bero voluptatum vitae distinctio quidem reprehenderit quod totam pariatur.
        </p>

        <div class=" flex-only my-8">
            <div class="left">
                <div class="left1 ">
                    <div class="flex">
                        <b>Birthday</b>
                        <p> : 2 March 2004</p>
                        <hr>
                    </div>
                    <hr>
                    <div class="flex"> <b>City</b>
                        <p> : Dhule , Maharastra ,India</p>
                    </div>
                    <hr>
                    <div class="flex"> <b>Youtube Channel</b>
                        <p> : codingwithrb</p>
                    </div>
                    <hr>
                    <div class="flex"> <b>Degree</b>
                        <p> : BCA Graduate</p>
                    </div>
                    <hr>
                </div>
                <div class="left2 mx-4">
                    <div class="flex">
                        <b>Age</b>
                        <p> :18</p>
                    </div>
                    <hr>
                    <div class="flex"> <b>Email</b>
                        <p> : rohitborse2004@gmail.com</p>
                    </div>
                    <hr>
                    <div class="flex"> <b>Phone</b>
                        <p> : +91 9527081664</p>
                    </div>
                    <hr>
                    <div class="flex"> <b>Study At</b>
                        <p> : Rcp Imrd College ,Shirpur</p>
                    </div>
                    <hr>
                </div>
                
            </div>
            <div class="right mx-8">
                <b>BCA First Year</b> 
                <span style="color: black; margin-left:18.10pc;">91%</span>
                <div class="line my-4">
                    <div class="line-1"></div>
                </div>

                <b>12th</b>
                <span style="color: black; margin-left:20.50pc;">87%</span>
                <div class=" line my-4">
                    <div class="line-2"></div>
                </div>

                <b>10th</b>
                   <span style="color: black; margin-left:18.50pc;">77%</span>
                <div class=" line my-4">
                    <div class="line-3"></div>
                </div>
            </div>
</section>
<section class="con2" id="hobby">
    <div class="container">
        <hr><h2>My Hobbies</h2><hr>
    </div>
</section>
{% endblock section %}