{% extends "layout1.html" %}
{% block title %} <title> Projects </title> {% endblock title %}
{% block section %}

<section class="con2" id="con2">

  <h1>Projects</h1>
  <div class="line-10"></div>
  <div class="line-7 my-1"></div>
  <div class="line_3 my-1 mb-4"></div>

  <div class="spinner-border text-dark" role="status" id="loader">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4" id="projectMain">

  </div>
</section>
{% endblock section %}